[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
streamlit-extras = "*"
pygad = "*"
scipy = "*"
plotly = "*"
pymongo = "*"
openai = "*"
scikit-learn = "==1.2.2"
catboost = "*"
fmpy = "*"
openpyxl = "*"
statsmodels = "*"

[dev-packages]

[requires]
python_version = "3.12"
